<!DOCTYPE html>
<html lang="ja">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<title>Nicoch Viewer</title>
<script>
function sort(via, reverse) {
  var i, items = [],
      e = document.querySelectorAll('li[data-videoid]'),
      videos = document.querySelector('.ch-videos');
  for (i = 0; i < e.length; ++i) {
    items.push(e[i]);
  }
  items.sort(function(a, b){
      var av = +a.getAttribute('data-'+via), bv = +b.getAttribute('data-'+via);
      return (av == bv ? 0 : av > bv ? 1 : -1)*(reverse ? -1 : 1);
  });
  for (i = 0; i < items.length; ++i) {
    videos.appendChild(items[i]);
  }
}
document.addEventListener("DOMContentLoaded", function(){
  sort('posted-at', true);
}, false);
</script>
<div class="container">
  <h1>Nicoch Viewer</h1>
  <p>カッコ内の数値は１週間前の値からの変化量（ポイントのみ成長率）</p>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm" onclick="sort('posted-at', true)">投稿日時順</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm" onclick="sort('tweeted-at', true)">ツイート日時順</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm" onclick="sort('view', true)">再生数順</button>
      <button type="button" class="btn btn-default btn-sm" onclick="sort('view-diff', true)">再生数増加順</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm" onclick="sort('comment', true)">コメント順</button>
      <button type="button" class="btn btn-default btn-sm" onclick="sort('comment-diff', true)">コメント増加順</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm" onclick="sort('mylist', true)">マイリスト順</button>
      <button type="button" class="btn btn-default btn-sm" onclick="sort('mylist-diff', true)">マイリスト増加順</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default btn-sm" onclick="sort('point', true)">ポイント順</button>
      <button type="button" class="btn btn-default btn-sm" onclick="sort('growth', true)">成長率順</button>
    </div>
  </div>

  <ul class="ch-videos list-group">
    {{$stats := .Stats}}
    {{range .Videos}}
      {{$stat := index $stats .ID}}
      <li
        class="list-group-item"
        data-videoid="{{.ID}}"
        data-posted-at="{{.PostedAt.Unix}}"
        data-tweeted-at="{{.TweetedAt.Unix}}"
        data-view="{{$stat.LatestLog.View}}"
        data-comment="{{$stat.LatestLog.Comment}}"
        data-mylist="{{$stat.LatestLog.Mylist}}"
        data-point="{{$stat.LatestLog.Point}}"
        data-view-aweekago="{{$stat.AWeekAgo.View}}"
        data-comment-aweekago="{{$stat.AWeekAgo.Comment}}"
        data-mylist-aweekago="{{$stat.AWeekAgo.Mylist}}"
        data-point-aweekago="{{$stat.AWeekAgo.Point}}"
        data-view-diff="{{$stat.ViewDiff}}"
        data-comment-diff="{{$stat.CommentDiff}}"
        data-mylist-diff="{{$stat.MylistDiff}}"
        data-growth="{{$stat.Growth}}">
        <div class="media">
          <div class="media-left">
            <a href="/{{.Code}}/">
              <img class="media-object" src="{{.Thumb}}" alt="thumbnail" width="80">
            </a>
          </div>
          <div class="media-body">
            <small class="text-muted">{{.PostedAt.Format "2006-01-02 15:04"}} 投稿</small>
            <h4 class="media-heading">
              <a href="/{{.Code}}/">
                {{.Name}}
              </a>
            </h4>
            <small class="text-muted"><a href="https://twitter.com/search?f=realtime&q={{.Code}}" target="_blank">Tweeted at</a></small> {{if .TweetedAt.IsZero}}<span class="text-muted">0000-00-00 00:00</span>{{else}}{{.TweetedAt.Format "2006-01-02 15:04"}}{{end}} &middot;
            <small class="text-muted">View</small> {{$stat.LatestLog.View}}{{if $stat.ViewDiff}}<small class="text-muted">({{printf "%+d" ($stat.ViewDiff)}})</small>{{end}} &middot;
            <small class="text-muted">Comment</small> {{$stat.LatestLog.Comment}}{{if $stat.CommentDiff}}<small class="text-muted">({{printf "%+d" ($stat.CommentDiff)}})</small>{{end}} &middot;
            <small class="text-muted">Mylist</small> {{$stat.LatestLog.Mylist}}{{if $stat.MylistDiff}}<small class="text-muted">({{printf "%+d" ($stat.MylistDiff)}})</small>{{end}} &middot;
            <small class="text-muted">Point</small> {{printf "%0.0f" $stat.LatestLog.Point}}<small class="text-muted">({{printf "%+0.3f%%" $stat.Growth}})</small>
          </div>
        </div>
      </li>
    {{end}}
  </ul>
</div>
</html>
