<!DOCTYPE html>
<html lang="ja">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<title>{{.Video.Code}} - Nicoch Viewer</title>
<div class="container">
  <h1>Nicoch Viewer</h1>
  
  <div class="media">
    <div class="media-left">
      <a href="http://www.nicovideo.jp/watch/{{.Video.Code}}" target="_blank">
        <img src="{{.Video.Thumb}}" alt="thumbnail" class="media-object">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="http://www.nicovideo.jp/watch/{{.Video.Code}}" target="_blank">
          {{.Video.Name}}
        </a>
      </h4>
    </div>
  </div>
  
  <div id="graph"></div>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>View</th>
        <th>Comment</th>
        <th>Mylist</th>
      </tr>
    </thead>
    <tbody>
  {{range .Logs}}
    <tr
      {{if .}}
      data-at="{{.At.Unix}}"
      data-view="{{.View}}"
      data-comment="{{.Comment}}"
      data-mylist="{{.Mylist}}"
      data-point="{{.Point}}"
      {{else}}
      data-at="0"
      data-view="0"
      data-comment="0"
      data-mylist="0"
      data-point="0"
      {{end}}
      >
      {{if .}}
      <td>{{.At.Format "2006-01-02 03:04"}}</td>
      <td>{{.View}}</td>
      <td>{{.Comment}}</td>
      <td>{{.Mylist}}</td>
      {{else}}
      <td>--</td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
      {{end}}
    </tr>
  {{end}}
    </tbody>
  </table>
</div>
</html>
